*{
    font-family: "Lilita One", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html{
    font-size: 75%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 4rem 9%;
    letter-spacing: .1rem;
}

.slide img{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 30px;
}

section:nth-child(even){
    background: #eee;
}

.sub-heading{
    text-align: center;
    color: cornsilk;
    font-size: 2.5rem;
    padding-top: 1rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
}

.heading{
    text-align: center;
    color: #3a3a3a;
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: cornsilk;
    background: #3a3a3a;
    border-radius: .5rem;
    cursor: pointer;
    padding: .9rem 1rem;
}

.btn:hover{
    color: #3a3a3a;
    background: cornsilk;

}



header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #3a3a3a;
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.logo{
    height: clamp(90px, 8vh, 110px);
    width: auto;
}


header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 0 0);
}

header .navbar a{
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: cornsilk;
    border: 0.2rem solid #3a3a3a; padding: 10px;
    margin: 0.7rem;

}


header .navbar a.active,
header .navbar a:hover{
    color: cornsilk;
    border: 0.2rem solid cornsilk; padding: 10px;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #3a3a3a;
    border-radius: 50%;
    background-color: cornsilk;
}

header .icons i:hover,
header .icons a:hover{
    color: cornsilk;
    background-color: #3a3a3a;
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}


#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    background: none;

}

#search-form #search-box::placeholder{
    color: #d0dde6;
}

/*pas sur que ça soit utile */

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
/* */

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    
}

#search-form label:hover{
    color: cornsilk;
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}



















@media (max-width:1280px){

    
}


/* media queries */

@media (max-width:991px){
    
    html{
        font-size: 60%;

    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }

    .order form .inputBox .input{
        width: 100%;
    }

    .logo{
        height: clamp(50px, 8vh, 80px);
        width: auto;
    }

}

@media (max-width:768px){

    html{
        font-size: 50%;

    }

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #3a3a3a;
        border-top: .2rem solid rgba(0,0,0,.2);
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 0.1rem;
    }

    section{
        padding: 8rem 9%;
        
    }

    

}

@media (max-width:520px){

    html{
        font-size: 40%;
    }

    section{
        padding: 18rem 9%;
    
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #3a3a3a;
        border-top: .2rem solid rgba(0,0,0,.2);
        padding: 3rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }
}

@media (max-width:320px){

    html{
        font-size: 20%;
    }

    section{
        padding: 40rem 9%;
    
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;

        border-top: .2rem solid rgba(0,0,0,.2);
        padding: 4rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }

    header .navbar a{
        font-size: 1.5rem;
    }
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .box{
    flex: 1 1 45rem;

}

.home .home-slider .slide .images{
    flex: 1 1 45rem;

}

.home .home-slider .slide .images img{
    width: 100%;

}

.home .home-slider .slide .box span{
    color: cornsilk;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
}

.home .home-slider .slide .box h3{
    color: #3a3a3a;
    font-size: 7rem;
}

.home .home-slider .slide .box p{
    color: #3a3a3a;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 2.5rem;
    
}

.entrees .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding-top: 9rem;
    text-align: center;
}

.entrees .box-container .box{
    background: #fff;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    transition: all .2s linear;
    border: .5rem solid rgba(0,0,0,.2);
    position: relative;
    overflow: center;
}


.boximage{
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 30px;
    display: block;
    margin: auto;
}

.entrees .box-container .box h3{
    color: #3a3a3a;
    font-size: 2.5rem;
}

.entrees .box-container .box .stars{
    color: cornsilk;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;

}

.entrees .box-container .box i{
    font-size: 1.7rem;
}

.entrees .box-container .box span{
    color: #3a3a3a;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    color: #3a3a3a;

}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 40rem;
    height: 40rem;
    border-radius: 10%;
    margin-top: 2rem;

}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 2.2rem;
}

.about .row .content p{
    font-size: 1.8rem;

}

.about .row .content span{
    font-size: 1.2rem;

}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;

}

.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: .2rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: cornsilk;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;

}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;

}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}

.menu .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.menu .box-container .box .image{
    height: 25rem;
    width: 25rem;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    margin: auto;

}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}


.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: cornsilk;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
}

.menu .box-container .box .content h3{
    color: #3a3a3a;
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color: #3a3a3a;
    font-size: 1.3rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color: #3a3a3a;
    margin: 1rem;
    font-size: 2.5rem;
}


.desserts .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding-top: 9rem;
    text-align: center;
}

.desserts .box-container .box{
    background: #fff;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    transition: all .2s linear;
    border: .5rem solid rgba(0,0,0,.2);
    position: relative;
    overflow: center;
}


.desserts .box-container .box h3{
    color: #3a3a3a;
    font-size: 2.5rem;
}

.desserts .box-container .box .stars{
    color: cornsilk;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
}

.desserts .box-container .box i{
    font-size: 1.7rem;
}

.desserts .box-container .box span{
    color: #3a3a3a;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.order form{
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width: 49%;
}

.order form .inputBox .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: cornsilk;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
    width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border: .2rem solid cornsilk;
}

.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}

.order form .btn{
    margin-top: 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: #3a3a3a;
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 2rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
    color: cornsilk;
    
}

.footer .box-container .box a:hover{ 
    -webkit-text-stroke-color: #3a3a3a;
    color: #3a3a3a;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: #3a3a3a;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color: cornsilk;
}














.animated-button {
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    width: 95.02px;
    height: 42.66px;
    border: none;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;
  }
  
  .animated-button .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  .animated-button:hover .span-mother {
    position: absolute;
  }
  
  .animated-button:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  .animated-button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .animated-button .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  .animated-button:hover .span-mother2 span {
    transform: translateY(0);
  }




  .cat-plat {
    text-indent: -9999px; /* Déplace le texte en dehors de la zone visible */
    display: inline-block; /* Assure que l'élément reste visible */
    width: 20px; /* Ajuste selon tes besoins */
    height: 20px; /* Ajuste selon tes besoins */
    background-color: #ffffff; /* Facultatif : ajoute une couleur de fond */
}

  .cat-plat {
    font-size: 0;
}


.boissons .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding-top: 9rem;
    text-align: center;
}

.boissons .box-container .box{
    background: #fff;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    transition: all .2s linear;
    border: .5rem solid rgba(0,0,0,.2);
    position: relative;
    overflow: center;
}

.boissons .box-container .box h3{
    color: #3a3a3a;
    font-size: 2.5rem;
}

.boissons .box-container .box .stars{
    color: cornsilk;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3a3a3a;

}

.boissons .box-container .box i{
    font-size: 1.7rem;
}

.boissons .box-container .box span{
    color: #3a3a3a;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.emoji h1{
    color: #3a3a3a;
    text-decoration: underline;
}